# <center><span style="color:blue">AIRLINE ARRIVALS 2008</span></center>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [2]:
df = pd.read_csv("..\..\data\Airline Arrivals 2008.csv")

# At First Glance

In [3]:
print('Dataframe dimensions:', df.shape)
#____________________________________________________________
# gives some infos on columns types and number of null values
tab_info=pd.DataFrame(df.dtypes).T.rename(index={0:'column type'})
tab_info=tab_info.append(pd.DataFrame(df.isnull().sum()).T.rename(index={0:'null values (nb)'}))
tab_info=tab_info.append(pd.DataFrame(df.isnull().sum()/df.shape[0]*100)
                         .T.rename(index={0:'null values (%)'}))
tab_info

Dataframe dimensions: (7009728, 29)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
column type,int64,int64,int64,int64,float64,int64,float64,int64,object,int64,...,float64,float64,int64,object,int64,float64,float64,float64,float64,float64
null values (nb),0,0,0,0,136246,0,151649,0,0,0,...,151649,137058,0,6872294,0,5484993,5484993,5484993,5484993,5484993
null values (%),0,0,0,0,1.94367,0,2.16341,0,0,0,...,2.16341,1.95525,0,98.0394,0,78.2483,78.2483,78.2483,78.2483,78.2483

    Each entry of this file corresponds to a flight and we see that more than 7.009.728 flights have been recordeed in 2008. These fights are described by 29 variables. A description of these variables are

#### Name	Description

    * 1 Year	1987-2008

    * 2	Month	1-12

    * 3	DayofMonth	1-31

    * 4	DayOfWeek	1 (Monday) - 7 (Sunday)

    * 5	DepTime	actual departure time (local, hhmm)

    * 6	CRSDepTime	scheduled departure time (local, hhmm)

    * 7	ArrTime	actual arrival time (local, hhmm)

    * 8	CRSArrTime	scheduled arrival time (local, hhmm)

    * 9	UniqueCarrier	unique carrier code

    * 10	FlightNum	flight number

    * 11	TailNum	plane tail number

    * 12	ActualElapsedTime	in minutes

    * 13	CRSElapsedTime	in minutes

    * 14	AirTime	in minutes

    * 15	ArrDelay	arrival delay, in minutes

    * 16	DepDelay	departure delay, in minutes

    * 17	Origin	origin IATA airport code

    * 18	Dest	destination IATA airport code

    * 19	Distance	in miles

    * 20	TaxiIn	taxi in time, in minutes

    * 21	TaxiOut	taxi out time in minutes
    
    * 22	Cancelled	was the flight cancelled?

    * 23	CancellationCode	reason for cancellation (A = carrier, B = weather, C = NAS, D = security)

    * 24	Diverted	1 = yes, 0 = no

    * 25	CarrierDelay	in minutes

    * 26	WeatherDelay	in minutes

    * 27	NASDelay	in minutes

    * 28	SecurityDelay	in minutes

    * 29	LateAircraftDelay	in minutes
http://stat-computing.org/dataexpo/2009/the-data.html

# Converting to Dates and Times

In [4]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

    In the initial dataframe, dates are coded according to 4 variables: YEAR, MONTH, DAY, and DAY_OF_WEEK. In fact, python offers the datetime format which is really convenient to work with dates and times and I thus convert the dates in this format:

In [5]:
df['Day']=df.DayofMonth

In [6]:
df['Date'] = pd.to_datetime(df[['Year','Month','Day']])

In [7]:
df.head(3)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Day,Date
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,3,2008-01-03
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,3,2008-01-03
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,3,2008-01-03

In [8]:
print(df.Date.min(),df.Date.max())

2008-01-01 00:00:00 2008-12-31 00:00:00

    This data records all flights in 2008 (2008-01-01 to 2008-12-31 )

In [10]:
import datetime
# Function that convert the 'HHMM' string to datetime.time
def format_heure(chaine):
    if pd.isnull(chaine):
        return np.nan
    else:
        if chaine == 2400: chaine = 0
        chaine = "{0:04d}".format(int(chaine))
        heure = datetime.time(int(chaine[0:2]), int(chaine[2:4]))
        return heure
#_____________________________________________________________________
# Function that combines a date and time to produce a datetime.datetime
def combine_date_heure(x):
    if pd.isnull(x[0]) or pd.isnull(x[1]):
        return np.nan
    else:
        return datetime.datetime.combine(x[0],x[1])
#_______________________________________________________________________________
# Function that combine two columns of the dataframe to create a datetime format
def create_flight_time(df, col):    
    liste = []
    for index, cols in df[['Date', col]].iterrows():    
        if pd.isnull(cols[1]):
            liste.append(np.nan)
        elif float(cols[1]) == 2400:
            cols[0] += datetime.timedelta(days=1)
            cols[1] = datetime.time(0,0)
            liste.append(combine_date_heure(cols))
        else:
            cols[1] = format_heure(cols[1])
            liste.append(combine_date_heure(cols))
    return pd.Series(liste)

In [11]:
df['CRSDepTime'] = create_flight_time(df, 'CRSDepTime')

In [13]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Day,Date
0,2008,1,3,4,2003.0,2008-01-03 19:55:00,2211.0,2225,WN,335,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,3,2008-01-03
1,2008,1,3,4,754.0,2008-01-03 07:35:00,1002.0,1000,WN,3231,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,3,2008-01-03
2,2008,1,3,4,628.0,2008-01-03 06:20:00,804.0,750,WN,448,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,3,2008-01-03
3,2008,1,3,4,926.0,2008-01-03 09:30:00,1054.0,1100,WN,1746,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,3,2008-01-03
4,2008,1,3,4,1829.0,2008-01-03 17:55:00,1959.0,1925,WN,3920,...,0,NaN,0,2.0,0.0,0.0,0.0,32.0,3,2008-01-03

In [16]:
df['DepTime'] = df['DepTime'].apply(format_heure)
df['CRSArrTime'] = df['CRSArrTime'].apply(format_heure)
df['ArrTime'] = df['ArrTime'].apply(format_heure)

In [18]:
df[['CRSDepTime','DepTime','CRSArrTime','ArrTime']].head()

           CRSDepTime   DepTime CRSArrTime   ArrTime
0 2008-01-03 19:55:00  20:03:00   22:25:00  22:11:00
1 2008-01-03 07:35:00  07:54:00   10:00:00  10:02:00
2 2008-01-03 06:20:00  06:28:00   07:50:00  08:04:00
3 2008-01-03 09:30:00  09:26:00   11:00:00  10:54:00
4 2008-01-03 17:55:00  18:29:00   19:25:00  19:59:00

In [ ]:
df.to_csv('Airline_Arrivals_Cleaned1', sep='\t')

In [22]:
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay', 'Day',
       'Date'],
      dtype='object')

In [27]:
variables_to_remove=['TaxiIn','TaxiOut','Year','Month','DayofMonth','DayOfWeek']
df.drop(variables_to_remove, axis = 1, inplace = True)

In [29]:
df.columns

Index(['DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier',
       'FlightNum', 'TailNum', 'ActualElapsedTime', 'CRSElapsedTime',
       'AirTime', 'ArrDelay', 'DepDelay', 'Origin', 'Dest', 'Distance',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay', 'Day',
       'Date'],
      dtype='object')

In [28]:
df.to_csv('Airline_Arrivals_Cleaned1', sep='\t')